{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
<main class="main-background">
    <div class="container-center">
        <div class="container-center-title">
            <h2>Mon panier</h2>
        </div>
        <div class="basket-empty">
            <p>x Vider le panier</p>
        </div>
        {% for product in products %}
            <div class="basket-product">
                <div class="basket-product-image">
                    <img src="{{ asset('images/' ~ product.image ~ '.png') }}" alt="Image du produit" />
                </div>
                <div class="basket-product-text">
                    <div>
                        <h5>{{ product.name }}</h5>
                    </div>
                    <div class="basket-product-quantity">
                        <p>Quantité : {{ product.quantity }}</p>
                    </div>
                    <div class="basket-product-price">
                        <p>{{ product.price }} €</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="basket-total">
            <span>Total panier : </span><span class="basket-total-price"> €</span>
            <p>Frais de livraison : Offert</p>
        </div>  
            
        <div class="button">
            <button class="button-submit">Valider la commande</button>
        </div>
    </div>
</main>   
{% endblock %}
